
body
{
	font-family:"Arial","Microsoft YaHei",sans-serif;	
}
#navTop{
	width:100%;
	height:120px;
	text-align: center;
	position:fixed;
	top:0px;
	background-color: rgb(0,0,0);
	z-index: 101;
}
#logo{
	display:inline-block;
}
a.nav{
	display: inline-block;
	box-sizing: border-box;
	width:180px;
	height:50px;
	font-size: 20px;
	color: white;
	position: relative;
	top:-35px;
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	text-decoration:none;
}
a.nav:hover{
	color:#DEDEDE;
}
#myself{
	top:-15px;
}
#headImage{
	max-width: 60px;
	border-radius:30px;
}
#mainContent{
	box-sizing: border-box;
	width:990px;
	margin:auto;
	text-align: center;
	margin-bottom: 20px;
}
#smallNav{
	background: #000000;
	width: 100%;
	position: fixed;
	margin-top: 112px;
	text-align: center;
	font-size: 200%;
	display: none;
	z-index: 100;
}
.navSmall{
	display:block;
	text-decoration: none;
	color:white;
}
.navSmall:hover{
	color:#DEDEDE;
}

#userInformation{
	display:none;
	position:absolute;
	top:120px;
	left:70%;
	background-color:#545454;
	padding:30px;
}
#userInformationInside{
	font-size:20px;
	width:150px;
	background-color:#A6A6A6;
	padding:20px;
	border-radius:20px;
}


#bigPhoto{
	margin-top: 250px;
	
}
#searchForm{
	margin-top:30px;
}
#searchImg{
	position:relative;
	top:8px;
	left:-55px;
	max-width: 40px;
}
#searchText{
	width:70%;
	font-size:30px;
	border:1px solid black;
	padding:10px;
	border-radius:25px;
}




@media screen and (max-width: 1300px) {
	#userInformation{
		left:80%;
	}
}
@media screen and (max-width: 1150px) {
	#main,#shoppingCar,#order,#sale,#myself{
		display: none;
	}
	#mainContent{
		width: 600px;
	}
}
