@charset "UTF-8";
body
{
	font-family:"Arial","Microsoft YaHei",sans-serif;
}
#logo
{
	position: absolute;
	right:1px;
}
#leftImg2,#leftImg3
{
	display: none;
}
#father
{
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-box;
	display:-o-box;
	display: box;
	-moz-box-align: center;
	-webkit-box-align: center;
	box-align: center;
}
#col-left
{
	width:480px;
}
#col-right
{
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
	text-align: -o-center;
	text-align: -moz-center;
	text-align: -webkit-center;
}
h1
{
	font-size:320%;
	font-weight: 500;
	margin-bottom: 18px;
}
#Slogan
{
	font-size:180%;
	font-weight: 400;
	margin-bottom: 40px;
}
#username,#password,#againPassword
{
	box-sizing: border-box;
	width:500px;
	height: 60px;
	font-size: 150%;
	margin-bottom: 30px;
}
#registerButton
{
	font-size:180%;
	font-weight: 400;
	color:white;
	box-sizing: border-box;
	width: 500px;
	padding-top:12px;
	padding-bottom:12px;
	text-align: center;
	background-color: #0099FF;
	margin-bottom: 10px;
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
	border-radius:5px;
}
#registerButton:hover
{
	background-color: dodgerblue;
}

label.error{
	font-size: 100%;
	display: block;
	color: red;
	margin-top: -22px;
}
input.error
{
	outline:none;
	border-color: red;
}
#toChangePassword,#toLogin{
	font-size:120%;
	padding:10px;
}
#regisSuccess{
	display:none;
}
@media screen and (max-width: 1070px) {
	#col-left{
		display: none;
	}
	#col-right{
		margin-top: 140px;
	}
}