
body
{
	font-family:"Arial","Microsoft YaHei",sans-serif;	
}
#navTop{
	width:100%;
	height:120px;
	text-align: center;
	position:fixed;
	top:0px;
	background-color: rgb(0,0,0);
	z-index: 101;
}
#logo{
	display:inline-block;
}
a.nav{
	display: inline-block;
	box-sizing: border-box;
	width:180px;
	height:50px;
	font-size: 20px;
	color: white;
	position: relative;
	top:-35px;
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	text-decoration:none;
}
a.nav:hover{
	color:#DEDEDE;
}
#myself{
	top:-15px;
}
#headImage{
	max-width: 60px;
	border-radius:30px;
}
#mainContent{
	box-sizing: border-box;
	width:990px;
	margin:auto;
	text-align: center;
	margin-top: 200px;
}
#smallNav{
	background: #000000;
	width: 100%;
	position: fixed;
	margin-top: -80px;
	text-align: center;
	font-size: 200%;
	display: none;
	z-index: 100;
}
.navSmall{
	display:block;
	text-decoration: none;
	color:white;
}
.navSmall:hover{
	color:#DEDEDE;
}

#userInformation{
	display:none;
	position:absolute;
	top:120px;
	left:70%;
	background-color:#545454;
	padding:30px;
}
#userInformationInside{
	font-size:20px;
	width:150px;
	background-color:#A6A6A6;
	padding:20px;
	border-radius:20px;
}

/* box属性现在就连chrome浏览器也不能直接用display: box，这还是一个未完成品 */
#mainContent
{
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-box;
	display:-o-box;
	display: box;
	-moz-box-align: center;
	-webkit-box-align: center;
	box-align: center;
}
#col-left
{
	width:480px;
}
#col-right
{
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
}
#photoContainer{
	border:1px solid black;
	height:480px;
}
#productForm{
	font-size:20px;
}
input{
	font-size:20px;
}
#name,#price{
	width:80%;
	padding:10px;
}
#price{
	width:75%;
}
#nameDiv,#priceDiv{
	margin-bottom:10px;
}
#identify{
	margin-top:10px;
	font-size:24px;
	width:30%;
	background-color:black;
	color:white;
	padding:5px;
	border:1px solid black;
}
#identify:hover{
	color:#CCC;
}
#cancel{
	text-decoration:none;
	margin-top:10px;
	font-size:24px;
	width:30%;
	padding:5px;
	weight:20px;
	background-color:black;
	color:white;
	padding:7px;
	padding-left:45px;
	padding-right:45px;
	border:1px solid black;
}
#cancel:hover{
	color:#CCC;
}


#uploadDiv {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    width: 40%;
    position: relative;
    border: 1px black solid;
    text-align: center;
    margin-left: 2%;
    padding: 2px 2%;
    border-radius:5px;
}
#uploadDiv:hover{
	color:#919191;
}
.uploadInput {
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}
#uploadTip{
	padding-top:20px;
	font-size:20px;
	color:red;
}






@media screen and (max-width: 1300px) {
	#userInformation{
		left:80%;
	}
}
@media screen and (max-width: 1150px) {
	#main,#shoppingCar,#order,#sale,#myself{
		display: none;
	}
	#mainContent{
		width: 600px;
	}
	#photoContainer{
		height:280px;
	}
	#col-left
	{
		width:280px;
	}
}